**/.DS_Store
**/config.yaml

**/spotify_api.log
!**/logs/.gitkeep

# Ignore all contents in data directories but keep the folders
**/data/**
!**/data/
!**/data/raw/
!**/data/processed/
!**/data/test/
!**/data/raw/.gitkeep
!**/data/processed/.gitkeep
!**/data/test/.gitkeep